POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DATABASE_URL=postgres://postgres:postgres@web-db:5432/sbgo
DATABASE_URL_TEST=postgres://postgres:postgres@web-db:5432/sbgo_test

PARTNER_HOST=https://parther-sample.com